<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEST BLOG</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav><a href="/">HOME</a></nav>
    <!-- 
    Post title
    Post content
    Post Author
    Post Date
    -->
    <% blogPosts.slice().reverse().forEach(post => { %>
        <article>
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <p><%= post.author %></p>
            <p><%= post.datetime %></p>
        </article>     
    <% }) %>

    <form action="/new-blog-post" method="post">
        <!-- 
        Author
        Title
        Content
        Submit
         -->
         <h2>MAKE NEW BLOG POST</h2>
         <label for="author">AUTHOR:</label>
         <input type="text" name="author" id="author">
         <label for="title">TITLE:</label>
         <input type="text" name="title" id="title">
         <label for="content">CONTENT:</label>
         <textarea name="content" id="content"></textarea>
         <button type="submit" id="submit">SUBMIT POST</button>
    </form>
    <nav id="pagination">
        <a href="<%= pagenum -1 %>"><button id="previous-page">Previous</button></a>
        <% let pageOffSet = Math.floor(numPagesToDisplay/2) %>
        <% let startPage = pagenum - pageOffSet %>
        <% let endPage = pagenum + pageOffSet %>
            <% for( let i = 0; i < array.length; i++ ) { %>
                <a href="/?pagenum=<%= i %>"><button id="page-<%= i %>"><%= i %></button></a>
            <% } %>
        <a href="<%= pagenum +1 %>"><button id="next-page">Next</button></a>
    </nav>
</body>
<script src="script.js"></script>
</html>